  <!-- <div style="display: flex; justify-content: center;">
    <table mat-table [dataSource]="records" class="mat-elevation-z8" style="width: 75%;">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Current Address </th>
        <td mat-cell *matCellDef="let element"> {{element.address}} </td>
      </ng-container>
  
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Number </th>
        <td mat-cell *matCellDef="let element"> {{element.number}} </td>
      </ng-container>
  
      <ng-container matColumnDef="password">
        <th mat-header-cell *matHeaderCellDef> Password </th>
        <td mat-cell *matCellDef="let element"> {{element.password}} </td>
      </ng-container>
  
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let i=index; let element">
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="update(element)">edit</mat-icon>
          <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="deletedata(i)">delete</mat-icon>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div> -->

<p>{{dataSource}}</p>

<table border="2px" align="center">
    <thead>
        <tr>
            <td>{{keys}}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
           <td>{{details}}</td>
        </tr>
    </tbody>
</table>
